body {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 9px;
	padding: 1em;
}
td {
	white-space: nowrap;
}
label{
    display: inline!important;
    font-size: 1rem;
    vertical-align: top;
    
}
button{
    background-color:#606c76;
    border:#606c76;
    border-radius:0;
    height: 2rem;
    line-height: 100%;
    box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.11);
}
.table_title{
    margin-top: 3rem;
    margin-bottom: 0rem;
}
#content {
    position: relative;
}
#content img {
    width:60px;
    position: absolute;
    top: 0px;
    right: 0px;
}