body {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 9px;
	padding: 1em;
}
td {
	white-space: nowrap;
}
label{
    display: inline!important
}
button{
    background-color:#606c76;
    border:#606c76;
    border-radius:0;
}
.table_title{
    margin-top: 3rem;
    margin-bottom: -1rem;
}