body {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	font-size: 9px;
	padding: 1em;
}
td {
	white-space: nowrap;
}
#charts{
	display: inline-flex;
}
#chart{
	width: 1890px;
}
